@import "reset";
@import "mixins";

body {
    font-family: "Helvetica";
}

.section {
    width: 100%;
    height: 100%;
    @include vendor-prefix(transition, all 0.5s ease-out);
    
    &.show {
        position: fixed;
        top: 0%;
        display: block;
        opacity: 1;
    }

    &.hidden {
        opacity: 0;
//        top: 100%;    
    }
    
}

.quiz, .results {
//    display: none;
    opacity: 0;
//    top: 100%;
}



.intro {
    background: #2E313B;
    color: white;
    text-align: center;
    h1 {
        padding: 1em 0;
        font-size: 4em;
    }
}

.quiz {
    background: rgb(253, 253, 250);

    .instructions {
        font-size: 1.2em;
        color: gray;
        text-align: center;
        padding-top: 4em;
    }
}

.card {
    margin: 1em 0;
    height: 100px;
}

.live-results {
    text-align: center;
    width: 50%;
    margin: 0 auto;
    color: #DDD;
}

.live-result {
    width: 20px;
    display: inline-block;
    text-align: center;
}

.results {
    color: white;
    background: #30090B;
    font-size: 1.2em;
}




@import "flipper";



